:root {
    --cpx-global--body-Background: white;

    /* Gray Palette
    #FFFFFF
    #D9D9D9
    #EDEDED
    #00000029
    #1F79F2
    #848484
    */
}

/* ul { list-style: none; padding: .25em; background: white; }
ul li { display: inline-block; }
ul li::before {content: " | ";}
ul li:first-child::before { content: ""; } */

body {
    margin: 0;
    padding: 0;
    background: var(--cpx-global--body-Background);
    --pf-global--BorderRadius--sm: 0px;
}

fieldset { display: inline-block; margin: 1em; padding: 1em;}

.pf-c-form-control { border-radius: var(--pf-global--BorderRadius--sm); }

.gradient {
    --cpx-global--body-Background: linear-gradient(118deg, #1F79F2, #6058E8, #C026D9);
    --pf-global--BorderRadius--sm: 10px;
    /* 
    #1F79F2
    #6058E8
    #C026D9
    118

    input corners: 10pt
    input box-shadow: 0 3pt 6pt(blur)

    button color: #C026D9
    */

}

.gray {
    --cpx-global--body-Background: #D9D9D9;
}

cpx-result {
    background-color: white;
}

cpx-lever, cpx-rack { flex: 0 1 50%}
