.sr-only,
.visually-hidden,
.element-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.pfe-navigation__dropdown {
  --pfe-icon--color: currentColor;
  display: block;
  width: calc(100% + 32px);
  max-width: 1136px;
  max-width: var(--pfe-navigation--content-max-width, 1136px);
  margin-left: -16px;
  margin-right: -16px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-column-count: auto;
     -moz-column-count: auto;
          column-count: auto;
  gap: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  padding: var(--pfe-navigation__dropdown--full-width--spacing--mobile, 24px);
  font-size: 1rem;
  font-size: var(--pf-global--FontSize--md, 1rem);
  color: #151515;
  color: var(--pfe-navigation__dropdown--Color, #151515);
  background: #fff;
  background: var(--pfe-navigation__dropdown--Background, var(--pfe-theme--color--surface--lightest, #fff));
}

@supports (display: flex) {
  .pfe-navigation__dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

@media (min-width: 768px) {
  .pfe-navigation__dropdown {
    padding: 24px 64px;
    padding: 24px var(--pfe-navigation__dropdown--full-width--spacing--desktop, 64px);
  }
  @supports (display: grid) {
    .pfe-navigation__dropdown {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: minmax(0, 1fr) var(--pfe-navigation--gutter, 32px) minmax(0, 1fr);
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 0 32px;
      gap: 0 var(--pfe-navigation--gutter, 32px);
      grid-auto-flow: row;
      -webkit-column-count: auto;
         -moz-column-count: auto;
              column-count: auto;
    }
  }
}

@media (min-width: 1200px) {
  .pfe-navigation__dropdown {
    padding: 48px 32px;
  }
  @supports (display: grid) {
    .pfe-navigation__dropdown {
      -ms-grid-columns: minmax(0, 1fr) var(--pfe-navigation--gutter, 32px) minmax(0, 1fr) var(--pfe-navigation--gutter, 32px) minmax(0, 1fr);
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 0 32px;
      gap: 0 var(--pfe-navigation--gutter, 32px);
    }
  }
}

:host(.pfe-navigation--collapse-secondary-links) .pfe-navigation__dropdown {
  display: block;
  width: calc(100% + 32px);
  max-width: 1136px;
  max-width: var(--pfe-navigation--content-max-width, 1136px);
  margin-left: -16px;
  margin-right: -16px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-column-count: auto;
     -moz-column-count: auto;
          column-count: auto;
  gap: 0;
  padding: 24px;
  padding: var(--pfe-navigation__dropdown--full-width--spacing--mobile, 24px);
  gap: 0;
}

@supports (display: flex) {
  :host(.pfe-navigation--collapse-secondary-links) .pfe-navigation__dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pfe-navigation__dropdown[class] {
  width: auto;
}

.pfe-navigation__dropdown ul,
.pfe-navigation__dropdown li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pfe-navigation__dropdown a {
  display: inline-block;
  color: #06c;
  color: var(--pfe-navigation__dropdown--link--Color, var(--pfe-theme--color--link, #06c));
  border: 1px solid transparent;
}

.pfe-navigation__dropdown a:focus, .pfe-navigation__dropdown a:hover {
  color: #036;
  color: var(--pfe-navigation__dropdown--link--Color--hover, #036);
  text-decoration: underline;
}

.pfe-navigation__dropdown a:focus {
  border: 1px dashed currentColor;
  border-top: 1px dashed currentColor;
  outline: 0;
}

.pfe-navigation__dropdown h2,
.pfe-navigation__dropdown h3,
.pfe-navigation__dropdown h4,
.pfe-navigation__dropdown h5,
.pfe-navigation__dropdown h6,
.pfe-navigation__dropdown [role="heading"][aria-heading-level],
.pfe-navigation__dropdown .pfe-link-list--header {
  margin: 32px 0 0.75em;
  margin: var(--pfe-navigation--gutter, 32px) 0 0.75em;
  padding: 0;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  font-size: 1.125rem;
  font-size: var(--pf-global--FontSize--lg, 1.125rem);
  font-weight: normal;
  color: #464646;
  color: var(--pfe-navigation__dropdown--headings--Color, #464646);
}

.pfe-navigation__dropdown h2:first-child,
.pfe-navigation__dropdown h3:first-child,
.pfe-navigation__dropdown h4:first-child,
.pfe-navigation__dropdown h5:first-child,
.pfe-navigation__dropdown h6:first-child,
.pfe-navigation__dropdown [role="heading"][aria-heading-level]:first-child,
.pfe-navigation__dropdown .pfe-link-list--header:first-child {
  margin-top: 0;
}

.pfe-navigation__dropdown h2 a,
.pfe-navigation__dropdown h3 a,
.pfe-navigation__dropdown h4 a,
.pfe-navigation__dropdown h5 a,
.pfe-navigation__dropdown h6 a,
.pfe-navigation__dropdown [role="heading"][aria-heading-level] a,
.pfe-navigation__dropdown .pfe-link-list--header a {
  color: #464646;
  color: var(--pfe-navigation__dropdown--headings--Color, #464646);
  border: 1px solid transparent;
}

.pfe-navigation__dropdown h2 a:hover, .pfe-navigation__dropdown h2 a:focus,
.pfe-navigation__dropdown h3 a:hover,
.pfe-navigation__dropdown h3 a:focus,
.pfe-navigation__dropdown h4 a:hover,
.pfe-navigation__dropdown h4 a:focus,
.pfe-navigation__dropdown h5 a:hover,
.pfe-navigation__dropdown h5 a:focus,
.pfe-navigation__dropdown h6 a:hover,
.pfe-navigation__dropdown h6 a:focus,
.pfe-navigation__dropdown [role="heading"][aria-heading-level] a:hover,
.pfe-navigation__dropdown [role="heading"][aria-heading-level] a:focus,
.pfe-navigation__dropdown .pfe-link-list--header a:hover,
.pfe-navigation__dropdown .pfe-link-list--header a:focus {
  text-decoration: underline;
  color: #036;
  color: var(--pfe-navigation__dropdown--link--Color--hover, #036);
}

.pfe-navigation__dropdown h2 a:focus,
.pfe-navigation__dropdown h3 a:focus,
.pfe-navigation__dropdown h4 a:focus,
.pfe-navigation__dropdown h5 a:focus,
.pfe-navigation__dropdown h6 a:focus,
.pfe-navigation__dropdown [role="heading"][aria-heading-level] a:focus,
.pfe-navigation__dropdown .pfe-link-list--header a:focus {
  border: 1px dashed currentColor;
  border-top: 1px dashed currentColor;
  outline: 0;
}

.pfe-navigation__dropdown li {
  margin: 0 0 16px;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}

.pfe-navigation__dropdown a,
.pfe-navigation__dropdown pfe-cta,
.pfe-navigation__dropdown pfe-card {
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}

.pfe-navigation__dropdown pfe-cta[priority='primary'], .pfe-navigation__dropdown pfe-cta[pfe-priority='primary'] {
  --pfe-cta--BackgroundColor: #e00;
  --pfe-cta--BackgroundColor--hover: #c00;
  --pfe-theme--ui--border-width: 0;
}

.pfe-navigation__dropdown pfe-cta[priority='primary']:hover, .pfe-navigation__dropdown pfe-cta[priority='primary']:focus, .pfe-navigation__dropdown pfe-cta[pfe-priority='primary']:hover, .pfe-navigation__dropdown pfe-cta[pfe-priority='primary']:focus {
  --pfe-cta--BackgroundColor: #c00;
}

pfe-card .pfe-navigation__dropdown pfe-cta {
  margin-top: 0;
}

.user-info[class] {
  -webkit-box-ordinal-group: -9;
  -webkit-order: -10;
      -ms-flex-order: -10;
          order: -10;
  position: relative;
  min-height: 64px;
  margin-bottom: 24px;
  padding-left: 76px;
  font-size: 1.125rem;
  font-size: var(--pf-global--FontSize--lg, 1.125rem);
}

@media (min-width: 768px) {
  .user-info[class] {
    margin-bottom: 32px;
  }
  @supports (display: grid) {
    .user-info[class] {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1 / 3;
    }
  }
}

:host(.pfe-navigation--collapse-secondary-links) .user-info[class] {
  margin-bottom: 24px;
}

.rh-account-dropdown--in-crusty-browser .user-info[class].style-scope {
  padding-left: 76px !important;
}

.user-info[class] pfe-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(122, 122, 122, 0.2);
}

.user-info__edit-avatar {
  position: relative;
  padding-left: 24px;
  font-size: 1rem;
  font-size: var(--pf-global--FontSize--md, 1rem);
  text-decoration: none;
}

.user-info__edit-avatar[class] {
  color: #06c;
  color: var(--pfe-navigation__dropdown--link--Color, var(--pfe-theme--color--link, #06c));
}

.user-info__edit-avatar:hover, .user-info__edit-avatar:focus {
  color: #036;
  color: var(--pfe-navigation__dropdown--link--Color--hover, #036);
}

.user-info__edit-avatar svg {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.account-links {
  font-size: 0.875rem;
  font-size: var(--pf-global--FontSize--sm, 0.875rem);
}

@supports (display: grid) {
  .account-links {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

@media (min-width: 768px) {
  @supports (display: grid) {
    .account-links {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: minmax(0, 1fr) var(--pfe-navigation--gutter, 32px) minmax(0, 1fr);
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 32px;
      gap: var(--pfe-navigation--gutter, 32px);
      grid-auto-flow: row;
    }
  }
}

:host(.pfe-navigation--collapse-secondary-links) .account-links {
  display: block;
}

.account-links li {
  margin-bottom: 0.57143em;
  max-width: 19.28571em;
}

@media (min-width: 768px) {
  .account-links li {
    margin-bottom: 1.5em;
  }
}

:host(.pfe-navigation--collapse-secondary-links) .account-links li {
  margin-bottom: 0.57143em;
}

.account-links[class] a {
  text-decoration: none;
}

.account-links[class] a:hover, .account-links[class] a:focus {
  color: #036;
  color: var(--pfe-navigation__dropdown--link--Color--hover, #036);
  text-decoration: none;
}

.account-links .account-link__title[class] {
  font-size: 1.14286em;
  color: #06c;
  color: var(--pfe-navigation__dropdown--link--Color, var(--pfe-theme--color--link, #06c));
}

@media (min-width: 768px) {
  .account-links .account-link__title[class] {
    margin-bottom: 8px;
  }
}

:host(.pfe-navigation--collapse-secondary-links) .account-links .account-link__title[class] {
  margin-bottom: 0;
}

.account-links a:hover .account-link__title,
.account-links a:focus .account-link__title {
  text-decoration: underline;
}

.account-links .account-link__description {
  display: none;
  color: #6a6e73;
  color: var(--pfe-navigation__dropdown--Color--secondary, var(--pfe-theme--color--text--muted, #6a6e73));
}

@media (min-width: 768px) {
  .account-links .account-link__description {
    display: block;
  }
}

:host(.pfe-navigation--collapse-secondary-links) .account-links .account-link__description {
  display: none;
}

@media (min-width: 768px) {
  @supports (display: grid) {
    .account-metadata {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1 / span 2;
    }
  }
}

.account-metadata--mobile {
  -webkit-box-ordinal-group: -4;
  -webkit-order: -5;
      -ms-flex-order: -5;
          order: -5;
  display: block;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .account-metadata--mobile {
    display: none;
  }
}

:host(.pfe-navigation--collapse-secondary-links) .account-metadata--mobile {
  display: block;
}

.account-metadata__login-name,
.account-metadata__org-admin,
.account-metadata__organization,
.account-metadata__account-number,
.account-metadata__email {
  display: none;
}

@media (min-width: 768px) {
  .account-metadata__login-name,
  .account-metadata__org-admin,
  .account-metadata__organization,
  .account-metadata__account-number,
  .account-metadata__email {
    display: block;
  }
}

:host(.pfe-navigation--collapse-secondary-links) .account-metadata__login-name, :host(.pfe-navigation--collapse-secondary-links)
.account-metadata__org-admin, :host(.pfe-navigation--collapse-secondary-links)
.account-metadata__organization, :host(.pfe-navigation--collapse-secondary-links)
.account-metadata__account-number, :host(.pfe-navigation--collapse-secondary-links)
.account-metadata__email {
  display: none;
}

.account-metadata--mobile .account-metadata__login-name, .account-metadata--mobile
.account-metadata__org-admin, .account-metadata--mobile
.account-metadata__organization, .account-metadata--mobile
.account-metadata__account-number, .account-metadata--mobile
.account-metadata__email {
  display: block;
}

.account-metadata__login-name[class] {
  font-size: 1rem;
  font-size: var(--pf-global--FontSize--md, 1rem);
  margin-bottom: 1.5em;
}

.account-metadata--org-admin .account-metadata__login-name[class] {
  margin-bottom: 0.5em;
}

.account-metadata__organization[class],
.account-metadata__account-number[class],
.account-metadata__org-admin[class] {
  font-size: 0.875rem;
  font-size: var(--pf-global--FontSize--sm, 0.875rem);
  color: #6a6e73;
  color: var(--pfe-navigation__dropdown--Color--secondary, var(--pfe-theme--color--text--muted, #6a6e73));
}

.account-metadata__org-admin {
  margin-bottom: 1.71429em;
}

.account-metadata__email[class] {
  margin-top: 1.5em;
}

.account-metadata__logout-wrapper {
  margin-top: 3em;
  padding: 3em 0 24px;
  border-top: 1px solid #d2d2d2;
  border-top: var(--pfe-navigation__dropdown--separator--Border, 1px solid var(--pfe-theme--color--ui--border--lighter, #d2d2d2));
}

.account-metadata__logout-wrapper[class] a {
  padding: 0.375em 1em;
  color: #fff;
  color: var(--pfe-navigation__dropdown--Color--on-highlight, var(--pfe-theme--color--text--on-dark, #fff));
  background: #06c;
  background: var(--pfe-navigation__dropdown--highlight-color, var(--pfe-theme--color--ui-accent, #06c));
  text-decoration: none;
  border-radius: 3px;
}

/*# sourceMappingURL=rh-account-dropdown.css.map */
